{% extends 'base.html.twig' %}

{% block title %}Opinion index{% endblock %}

{% block body %}
    <h1>Opinion</h1>

    <table class="table">
        <thead>
            <tr>
                <th>OpinionId</th>
                <th>Title</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for opinion in opinions %}
            <tr>
                <td>{{ opinion.opinionId }}</td>
                <td>{{ opinion.title }}</td>
                <td>{{ opinion.description }}</td>
                <td>
                    <a href="{{ path('opinion_show', {'opinionId': opinion.opinionId}) }}">show</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('opinion_edit', {'opinionId': opinion.opinionId}) }}">edit</a>
                    {% endif %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_USER') %}
    <a href="{{ path('opinion_new') }}">Create new</a>
    {% else %}
    <p>Veuillez-vous connecter pour laisser un commentaire.</p>
    {% endif %}
{% endblock %}
