{% extends 'base.html.twig' %}

{% block title %}Opinion{% endblock %}

{% block body %}
    <h1>Détails avis</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID de l'avis</th>
                <td>{{ opinion.opinionId }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ opinion.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ opinion.description }}</td>
            </tr>
            <tr>
                <th>ID produit</th>
                <th>{{ opinion.product }}</th>
            </tr>
            <tr>
                <th>ID client</th>
                <th>{{ opinion.customer }}</th>
            </tr>
        </tbody>
    </table>
    <div class="col-12 d-flex justify-content-between">
    <a href="{{ path('opinion_index') }}">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
    </svg> Retour à la liste des avis</a>
    <a href="{{ path('opinion_edit', {'opinionId': opinion.opinionId}) }}" class="d-flex justify-content-end">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
        </svg>Modifier</a>
    </div>
    {{ include('opinion/_delete_form.html.twig') }}
{% endblock %}
