{% extends 'base.html.twig' %}

{% block title %}ResourceDepartment{% endblock %}

{% block body %}
    <h1>ResourceDepartment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>RdId</th>
                <td>{{ resource_department.rdId }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ resource_department.lastname }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ resource_department.firstname }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ resource_department.adress }}</td>
            </tr>
            <tr>
                <th>ZipCode</th>
                <td>{{ resource_department.zipCode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ resource_department.city }}</td>
            </tr>
            <tr>
                <th>Birthdate</th>
                <td>{{ resource_department.birthdate ? resource_department.birthdate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>PhoneNumber</th>
                <td>{{ resource_department.phoneNumber }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('resourcedepartement_index') }}">back to list</a>

    <a href="{{ path('resourcedepartement_edit', {'rdId': resource_department.rdId}) }}">edit</a>

    {{ include('resourcedepartement/_delete_form.html.twig') }}
{% endblock %}
