{% extends 'base.html.twig' %}

{% block title %}Orders index{% endblock %}

{% block body %}
    <h1>Index de commande</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Identifiant de la commande </th>
                <th>Date de la commande </th>
                <th>Payement Différé? </th>
                <th>Total Hors-taxe </th>
                <th>Quantité</th>
                <th>Payé? </th>
                <th>Remise </th>
                <th>Total toutes taxes</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.orderId }}</td>
                <td>{{ order.orderDate ? order.orderDate|date('Y-m-d') : '' }}</td>
                <td>{{ order.delayedPayment ? 'Yes' : 'No' }}</td>
                <td>{{ order.dfTotal }}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.payed ? 'Yes' : 'No' }}</td>
                <td>{{ order.discount }}</td>
                <td>{{ order.total }}</td>
                <td>
                    <a href="{{ path('orders_show', {'orderId': order.orderId}) }}">show</a>
                    <a href="{{ path('orders_edit', {'orderId': order.orderId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Pas de commande trouvé ! </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('orders_new') }}">Nouvelle Commande </a>
{% endblock %}
