{% extends 'base.html.twig' %}

{% block title %}Pour débuter{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% include 'base/aside.html.twig' %}
            <div class="col-5">
                <table class="table">

                    <thead>
                    <tr>
                        <th scope="col">ID du produit</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Description</th>
                        <th scope="col">Prix HT</th>
                        <th scope="col">Photo</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">{{ product.productId }}</th>
                        <td>{{ product.productName() }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.dfPrice }}</td>
                        <td>{{ product.picture }}</td>
                    </tr>
                    </tbody>
                </table>

                <a class="btn btn-success" href="{{ path('cart_add',{'id': product.productId}) }}">Ajouter au panier</a>
                <a class="btn btn-success" href="{{ path('product_edit',{'id': product.productId}) }}">Modifier</a>
                <a class="btn btn-danger" href="{{ path('product_delete',{'id': product.productId}) }}">Supprimer</a>
            </div>
        </div>
    </div>
{% endblock %}
