{% extends 'base.html.twig' %}

{% block title %}Détails{% endblock %}

{% block body %}
    <div class="row">
        {% include 'base/aside.html.twig' %}
        <div class="col-10" id="products-container1">
            <div class="col-6" id="products-container2">
                <div class="col-3" id="products">
                    <!--<button onclick="myFunction()">-->
                    <a href="{{ path('product_details',{'id': product.productId}) }}"><img class="img-fluid rounded" id="productpicture" src="{{ asset('/uploads/products/' ~ product.picture) }}" alt="Photo du produit {{ product.productId }}"/></a>
                    <!--</button>-->
                </div>
                    <p class="text-center">{{ product.productName() }}
                    <br>
                    <br>{{ product.dfPrice }} €
                    <br>
                    <br>{{ product.description }}
                    </p>
            </div>
            <a class="btn btn-success" href="{{ path('cart_add',{'id': product.productId}) }}">Ajouter au panier</a>
            <a class="btn btn-success" href="{{ path('product_edit',{'id': product.productId}) }}">Modifier</a>
            <a class="btn btn-danger" href="{{ path('product_delete',{'id': product.productId}) }}">Supprimer</a>
        </div>
    </div>

            </div>
        </div>
    </div>
{% endblock %}
