{% extends 'base.html.twig' %}

{% block title %}Hello CatalogController!{% endblock %}

{% block body %}
    <div class="row">
        {% include 'base/aside.html.twig' %}
        <div class="col-10" id="products-container1">
            <div class="col-6" id="products-container2">
                {% for product in products %}
                <div class="col-3" id="products">

                    <!--<button onclick="myFunction()">-->
                    <a href="{{ path('product_details',{'id': product.productId}) }}"><img class="img-fluid rounded" id="productpicture" src="{{ asset('/uploads/products/' ~ product.picture) }}" alt="Photo du produit {{ product.productId }}"/></a>
                        <!--</button>-->
                    <p class="text-center">{{ product.productName() }}
                    <br>{{ product.dfPrice }} €</p>

                </div>
                {% endfor %}
            </div>
            <div class="col-4" id="myDIV">
                {{ path('product_details',{'id': 1}) }}
            </div>
        </div>
    </div>
{% endblock %}
