{% extends 'base.html.twig' %}

{% block title %}Hello CatalogController!{% endblock %}

{% block body %}

    <h1>Votre panier</h1>

    {% if items | length > 0 %}
        <table class="table">

            <thead>
            <tr>
                <th scope="col">ID du produit</th>
                <th scope="col">Photo</th>
                <th scope="col">Nom du produit</th>
                <th scope="col">Prix unitaire HT</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix total HT</th>
                <th scope="col"></th>
            </tr>
            </thead>

            <tbody>
            {% for item in items %}
            <tr>
                <th scope="row">{{ item.product.productID }}</th>
                <td><img class="img-fluid rounded" id="productpicture" src="{{ asset('/uploads/products/' ~ item.product.picture) }}" alt="Photo du produit {{ product.productId }}"/></td>
                <td>{{ item.product.productName }}</td>
                <td>{{ item.product.dfPrice }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.product.dfPrice * item.quantity }}</td>
                <td><a href="{{ path('cart_remove', {'id' : item.product.productId}) }}" class="btn btn-danger"><i class="bi bi-trash"></i></a></td>
            </tr>
            {% endfor %}
            </tbody>

            <tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-end">Total :</td>
                        <td>{{ total }}</td>
                        <td></td>
                    </tr>
                </tfoot>
            </tbody>

        </table>
    {% else %}
        <p>Votre panier est vide <i class="bi bi-emoji-frown"></i> </p>
    {% endif %}
{% endblock %}
